/* Add Item Container */
.add-item-container {
  font-family: 'Roboto', sans-serif;
  background-color: #1e293b;
  color: blanchedalmond;
  width: 100%;
  max-width: 450px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
  text-align: center;
  margin: 50px auto;
  position: relative;
  bottom: 40px;
}

/* Add Item Form */
.add-item-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Form Labels */
.add-item-form label {
  font-weight: bold;
  color: blanchedalmond;
}

/* Form Inputs */
.add-item-form input,
.add-item-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* Form Inputs Focus */
.add-item-form input:focus,
.add-item-form textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Submit Button */
.add-item-form button {
  background-color: #007bff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Submit Button Hover */
.add-item-form button:hover {
  background-color: #0056b3;
}
